Assets/Standard Assets.meta
Temp/UnityLockfile
Assets/Standard Assets/
Library/ShaderCache/
Temp/
Library/metadata/
Assets/Editor/ImageEffects/
Assets/Editor/ImageEffects.meta
Assets/UnityVS/
Library/
ProjectSettings/
