Assets/Standard Assets/
Assets/Standard Assets.meta
Temp/
Library/ShaderCache/
Library/metadata/
Assets/Editor/ImageEffects/
Assets/Editor/ImageEffects.meta
Assets/UnityVS/
Library/
ProjectSettings/
